body {
  margin: 0;
  padding: 0;
}
* {
  color: red;
}

.mainApp {
  display: grid;
  grid-template-rows: 100px 3fr 50px;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100vh;
}

header {
  grid-area: header;
}

.content {
  grid-area: main;
}

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: footer;
}
